# This is a basic workflow to help you get started with Actions
name: Update Brazil states and cities data from IBGE

# Controls when the workflow will run
on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight UTC
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:                
      contents: write           # 'write' access to repository contents

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download all Brazil states data from IBGE
      run: |
        mkdir -p raw/localities/bra/ibge
        curl -s https://servicodados.ibge.gov.br/api/v1/localidades/estados -o raw/localities/bra/ibge/states.json

    - name: Download and merge IBGE cities data for all states
      run: |
        mkdir -p raw/localities/bra/ibge
        SIGLAS=$(jq -r '.[].sigla' raw/localities/bra/ibge/states.json | sort)
        echo "[" > raw/localities/bra/ibge/cities.json
        FIRST=true
        for UF in $SIGLAS; do
          DATA=$(curl -s "https://servicodados.ibge.gov.br/api/v1/localidades/estados/${UF}/municipios")
          if [ "$FIRST" = true ]; then
            FIRST=false
          else
            echo "," >> raw/localities/bra/ibge/cities.json
          fi
          echo "$DATA" | jq -c '.[]' >> raw/localities/bra/ibge/cities.json
        done
        echo "]" >> raw/localities/bra/ibge/cities.json

    - name: Commit changes
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add raw/localities/bra/ibge/cities.json
        git add raw/localities/bra/ibge/states.json
        if ! git diff --cached --quiet; then
          git commit -m 'Merge of new localities'
        else
          echo "No changes to commit."
        fi
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
